<!-- About Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About FLR</h2>
        <p>
        The FLR project has been developing and providing fishery scientists with a powerful and flexible platform for quantitative fisheries science based on the <a href="http://r-project.org">R statistical language</a>. The guiding principles of FLR are <b>openness</b>, through community involvement and the open source ethos, <b>flexibility</b>, through a design that does not constraint the user to a given paradigm, and <b>extendibility</b>, by the provision of tools that are ready to be personalized and adapted. The main aim is to generalize the use of good quality, open source, flexible software in all areas of quantitative fisheries research and management advice. 
        </p>
      </div>
    </div>
  </div>
</section>
