<!-- About Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About FLR</h2>
        <p>
       The FLR project attempts to develop and provide a platform for quantitative fisheries science based on the R statistical language. The guiding principles of FLR are openness, through community involvement and the open source ethos, flexibility, through a design that does not constraint the user to a given paradigm, and extendibility, by the provision of tools that are ready to be personalized and adapted. The main aim is to generalize the use of good quality, open source, flexible software in all areas of quantitative fisheries research and management advice. 
        </p>
        <h3 class="service-heading">Publications</h3>
        <p>
        Studies and publications citing or using FLR.
        </p>
           <script src="https://bibbase.org/show?bib=https%3A%2F%2Fraw.githubusercontent.com%2Fflr%2Fdevel%2Fmaster%2Fcitations%2Fflr.bib&jsonp=1&folding=1"></script>
      </div>
    </div>
  </div>
</section>
