<!-- Contact Section -->
<section id="community">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-clear">Community</h2>
        <div class="col-md-6 col-sm-6 text-clear">
          <!-- MAILING LIST -->
          <h3 class="service-heading text-muted">To stay updated</h3>
          <p>You can subscribe to the <a href="https://lists.r-forge.r-project.org/cgi-bin/mailman/listinfo/flr-list">FLR mailing list</a>.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 text-clear">
          <!-- BUGS -->
          <h3 class="service-heading text-muted">To report bugs or propose changes</h3>
          <p>Please <a href="https://help.github.com/articles/creating-an-issue/">submit an issue</a> for the <a href="https://github.com/flr">relevant package</a>, or at the <a href="https://github.com/flr/doc/issues">tutorials repository</a>.</p>
        </div>
      </div>
    </div>
  </div></section>
