<!-- Contact Section -->
<section id="community">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Community</h2>
        <div class="col-md-6 col-sm-6 text-clear">
          <!-- MAILING LIST -->
          <h3 class="service-heading text-muted">To stay updated</h3>
          <p>You can subscribe to the <a href="https://lists.r-forge.r-project.org/cgi-bin/mailman/listinfo/flr-list">FLR help mailing list</a>.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 text-clear">
          <!-- BUGS -->
          <h3 class="service-heading text-muted">To report bugs or propose changes</h3>
          <p>Please submit an issue at the <a href="https://github.com/flr/FLCore/issues">FLCore issue page</a>, or at the issue page for the <a href="https://github.com/flr">relevant package</a>.</p>
        </div>
      </div>
    </div>
  </div></section>
