<!-- About Section -->
<section id="development" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">FLR development </h2>
        <p>
        Development code for FLR packages is available both on <a href="https://github.com/flr/">Github</a> and on <a href="https://flr.r-universe.dev/">R-Universe</a>. Bugs can be reported on Github as well as suggestions for further development.
        </p>
      </div>
    </div>
  </div>
</section>
