<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "HOME" %}class="active"{% endif %} href="{{site.baseurl}}index.html">Home</a>
      <a {% if page.title == "ABOUT" %}class="active"{% endif %} href="{{site.baseurl}}about/about.html">ABOUT</a>
      <a {% if page.title == "PKG" %}class="active"{% endif %} href="{{site.baseurl}}pkgs/pkgs.html">PKGS</a>
      <a {% if page.title == "TUTORIAL" %}class="active"{% endif %} href="{{site.baseurl}}tyflr/tyflr.html">TUTORIAL</a>
      <a {% if page.title == "HELP" %}class="active"{% endif %} href="{{site.baseurl}}help/help.html">HELP</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="github" href="http://github.com/flr">Github</a>
    </div>
  </div>
</div>
