<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "HOME" %}class="active"{% endif %} href="{{site.baseurl}}index.html">Home</a>
      <a {% if page.title == "ABOUT" %}class="active"{% endif %} href="{{site.baseurl}}about/about.html">ABOUT</a>
      <a {% if page.title == "INSTALL" %}class="active"{% endif %} href="{{site.baseurl}}install.html">INSTALL</a>
      <a {% if page.title == "HELP" %}class="active"{% endif %} href="{{site.baseurl}}help.html">HELP</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="github" href="http://github.com/flr">Github</a>
    </div>
  </div>
</div>
