<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "HOME" %}class="active"{% endif %} href="{{site.baseurl}}/index.html">Home</a>
      <a {% if page.title == "ABOUT" %}class="active"{% endif %} href="{{site.baseurl}}/about/index.html">ABOUT</a>
      <a {% if page.title == "PACKAGES" %}class="active"{% endif %} href="{{site.baseurl}}/pkgs/index.html">PACKAGES</a>
      <a {% if page.title == "LEARNING" %}class="active"{% endif %} href="https://github.com/flr/doc">LEARNING</a>
      <a {% if page.title == "GALLERY" %}class="active"{% endif %} href="{{site.baseurl}}/gallery/index.html">GALLERY</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="github" href="http://github.com/flr">Github</a>
    </div>
  </div>
</div>
