<!-- Install Section -->
<section id="install" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Installing FLR</h2>
        <h3 class="section-content text-muted">To install the latest released versions of the <b>FLR</b> packages, and all their dependencies, start R and enter</h3>
        <code class="language-r">
          source("http://flr-project.org/R/instFLR.R")
        </code>
        <h3 class="section-content text-muted">or select your choice of packages from the <a href="http://github.com/flr/R">FLR repository</a> by calling</h3>
        <code class="language-r">
          install.packages(repos="http://flr-project.org/R")
        </code>
        <h3 class="section-content text-muted">A good starting point to explore <b>FLR</b> is <a href="http://flr-project.org/doc/A_quick_introduction_to_FLR.html">A quick introduction to FLR</a></h3>
      </div>
    </div>
  </div>
</section>
