<li><em>12/SEP/2014</em> - <strong>instFLR.R</strong> script now deals with FLR-CRAN package dependencies.</li>
<li><em>21/JUN/2014</em> - ADDED a <strong>NEWS</strong> section to FLR frontpage.</li>
<li><em>15/JUN/2014</em> - FLR <strong>packages</strong> for R 3.1 are now available at the <a href="http://www.flr-project.org/R/">FLR repository</a>.</li>
<li><em>01/JUN/2014</em> - <strong>LAUNCH</strong> of new flr-project.org website, now hosted by <a href="http://github.com/flr/flr.github.io">github</a>.</li>
