<!-- Packages Section -->
  <section id="packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Packages</h2>
          <h3 class="section-subheading text-muted">The FLR toolset is composed of a series of packages offering different classes, methods and models.</h3>
        </div>
      </div>
      <div class="row text-center">
        <!-- FLCORE -->
        <div class="col-md-4"><a href="http://flr-project.org/FLCore">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLCore</h4>
          <p class="text-muted">Core classes and methods for FLR.</p>
        </div>
        <!-- FLa4a -->
        <div class="col-md-4"><a href="http://flr-project.org/FLa4a">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLa4a</h4>
          <p class="text-muted">The a4a population model for stock assessment and MSE.</p>
        </div>
        <!-- ggplotFL -->
        <div class="col-md-4"><a href="http://flr-project.org/ggplotFL">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-adjust fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">ggplotFL</h4>
          <p class="text-muted">Apply ggplot2 to the FLR classes.</p>
        </div>
      </div>
	    <div class="row text-center">
        <!-- FLBRP -->
        <div class="col-md-4"><a href="http://flr-project.org/FLBRP">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-crosshairs fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLBRP</h4>
          <p class="text-muted">Reference Points and Fisheries Advice.</p>
        </div>
        <!-- FLFleet -->
        <div class="col-md-4"><a href="http://flr-project.org/FLFleet">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-life-saver fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLFleet</h4>
          <p class="text-muted">Modelling of fishing fleet dynamics.</p>
        </div>
        <!-- FLBEIA -->
        <div class="col-md-4"><a href="http://flr-project.org/FLBEIA">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLBEIA</h4>
          <p class="text-muted">Bio-Economic Impact Assessment of Management strategies.</p>
        </div>
      </div>
	    <div class="row text-center">
        <!-- FLSAM -->
        <div class="col-md-4"><a href="http://flr-project.org/FLSAM">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-google-wallet fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLSAM</h4>
          <p class="text-muted">SAM stock assessment model in FLR.</p>
        </div>
        <!-- FLXSA -->
        <div class="col-md-4"><a href="http://flr-project.org/FLXSA">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-spinner fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLXSA</h4>
          <p class="text-muted">Data sets and methods to simulate data.</p>
        </div>
        <!-- FLAssess -->
        <div class="col-md-4"><a href="http://flr-project.org/FLAssess">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLAssess</h4>
          <p class="text-muted">Support for FLR Stock Assessment methods.</p>
        </div>
      </div>
	  	<div class="row text-center">
        <!-- FLash -->
        <div class="col-md-4"><a href="http://flr-project.org/FLash">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLash</h4>
          <p class="text-muted">Package for fisheries forecasting.</p>
        </div>
        <!-- FLRDynState -->
        <div class="col-md-4"><a href="http://flr-project.org/FLRDynState">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-random fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLRDynState</h4>
          <p class="text-muted">2-Species Dynamic State Variable Model in FLR.</p>
        </div>
        <!-- kobe -->
        <div class="col-md-4"><a href="http://flr-project.org/kobe">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-delicious fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">kobe</h4>
          <p class="text-muted">Methods for summarising results from SAs and MSEs in the Kobe format.</p>
        </div>
      </div>
	  	<div class="row text-center">
        <!-- FLife -->
        <div class="col-md-4"><a href="http://flr-project.org/FLife">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLife</h4>
          <p class="text-muted">Methods for incorporating life history traits and processes.</p>
        </div>
        <!-- diags -->
        <div class="col-md-4"><a href="http://flr-project.org/diags">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">diags</h4>
          <p class="text-muted">Diagnostics for stock assessment methods.</p>
        </div>
		    <!-- mpb -->
        <div class="col-md-4"><a href="http://flr-project.org/mpb">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">mpb</h4>
          <p class="text-muted">Biomass dynamics population and management procedures that can be simulation tested.</p>
        </div>
      </div>
	  	<div class="row text-center">
        <!-- mse -->
        <div class="col-md-4"><a href="http://flr-project.org/mse">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">mse</h4>
          <p class="text-muted">Tools for implementing and evaluting management procedures using MSE.</p>
        </div>
        <!-- FLasher -->
        <div class="col-md-4"><a href="http://flr-project.org/FLasher">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLasher</h4>
          <p class="text-muted">Next generation package for fisheries forecasting using Rcpp and cppAD.</p>
        </div>
      </div>
	    <div class="row text-center">

        <!-- FLData
        <div class="col-md-4"><a href="http://flr-project.org/FLData">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-table fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">FLData</h4>
          <p class="text-muted">Data sets and methods to simulate data.</p>
        </div> -->
        <!-- SQLiteFL
        <div class="col-md-4"><a href="http://flr-project.org/SQLiteFL">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
          </span></a>
          <h4 class="service-heading">SQLiteFL</h4>
          <p class="text-muted">Storing S4 classes in an SQLite database.</p>
        </div> -->

    </div></section>
