<!-- Tutorials Section -->
<section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Tutorials</h2>
        
        <!-- Left COLUMN-->
        <div class="col-md-6 col-sm-6">

          <!-- SECTION: Introduction to FLR -->
          <h3 class="service-heading">
            Introduction to FLR
          </h3>
          <!-- A quick introduction to FLR -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/A_quick_introduction_to_FLR.html">A quick introduction to FLR</a></li>
          </ul>
          <!-- An overview of the FLCore classes -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/An_overview_of_the_FLCore_classes.html">An overview of the FLCore classes</a></li>
          </ul>

          <!-- SECTION: Input -->
          <h3 class="service-heading">
            Input data
          </h3>
          <!-- Loading data -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Loading_your_data_into_FLR.html">Loading your data into FLR</a></li>
          </ul>

          <!-- SECTION: Fisheries Modelling -->
          <h3 class="service-heading">
            Fisheries Modelling
          </h3>
          <!-- Stock recruitment with FLSR -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Modelling_stock_recruitment_with_FLSR.html">Modelling stock recruitment with FLSR</a></li>
          </ul>
          <!-- Using information on Life History relationships -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Using_information_on_life_history_relationships.html">Using information on Life History relationships</a></li>
          </ul>

          <!-- Life history relationships -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Life_history_relationships.html">Life history relationships</a></li>
          </ul>

          <!-- Statistical catch at age models in FLa4a -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Statistical_catch_at_age_models_in_FLa4a.html">Statistical catch at age models in FLa4a</a></li>
          </ul>
          <!-- Modelling growth and its uncertainty in FLa4a -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Modelling_growth_and_its_uncertainty_in_FLa4a.html">Modelling growth and its uncertainty in FLa4a</a></li>
          </ul>
          <!-- Natural mortality modelling in FLa4a -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Natural_mortality_modelling_in_FLa4a.html">Natural mortality modelling in FLa4a</a></li>
          </ul>
          <!-- Stock assessment using eXtended Survivors Analysis with FLXSA -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Stock_assessment_using_eXtended_Survivors_Analysis_with_FLXSA.html">Stock assessment using eXtended Survivors Analysis with FLXSA</a></li>
          </ul>
 
          <!-- SECTION: Visualization -->
          <h3 class="service-heading">
            Visualization
          </h3>
          <!-- ggplotFL -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/ggplotFL_plotting_FLR_objects_with_ggplot2.html">ggplotFL plotting FLR objects with ggplot2</a></li>
          </ul>
          <!-- lattice -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Plotting_FLR_objects_using_lattice.html">Plotting FLR objects using lattice</a></li>
          </ul>

          <!-- Section: FLR Internals -->
          <h3 class="service-heading">
            FLR Internals
          </h3>
          <!-- Units of measurement in FLR objects -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Units_of_measurement_in_FLR_objects.html">Units of measurement in FLR objects</a></li>
          </ul>

        </div>

        <!-- Right COLUMN-->
        <div class="col-md-6 col-sm-6">

          <!-- SECTION: Management Advice -->
          <h3 class="service-heading">
            Management Advice
          </h3>
          <!-- Running Medium Term Forecasts with FLash -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Running_Medium_Term_Forecasts_with_FLash.html">Running Medium Term Forecasts with FLash</a></li>
          </ul>
          <!-- Short Term Forecasting for advice using FLash -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Short_Term_Forecasting_for_advice_using_FLash.html">Short Term Forecasting for advice using FLash</a></li>
          </ul>
          <!-- Forecasting on the Medium Term for advice using FLasher -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Forecasting_on_the_Medium_Term_for_advice_using_FLasher.html">Forecasting on the Medium Term for advice using FLasher</a></li>
          </ul>
          <!-- Reference points for fisheries management with FLBRP -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Reference_points_for_fisheries_management_with_FLBRP.html">Reference points for fisheries management with FLBRP</a></li>
          </ul>
         
          <!-- SECTION: Management Strategy Evaluation -->
          <h3 class="service-heading">
            MSE
          </h3>
          <!-- An introduction to MSE using FLR -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/An_introduction_to_MSE_using_FLR.html">An introduction to MSE using FLR</a></li>
          </ul>
        
          <!-- Biomass Dynamic Management Procedures -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Management_procedure_biomass_dynamic.html">Biomass Dynamic Management Procedures</a></li>
          </ul>

          <!-- SECTION: FLBEIA -->
          <h3 class="service-heading">
            MSE with FLBEIA
          </h3>
          <!-- MSE with FLBEIA -->
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Conditioning_FLBEIA.html">Conditioning FLBEIA using Smart Conditioning Functions</a></li>
          </ul>
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/FLBEIA_A_Simple_Example.html">A simple example on how to use FLBEIA</a></li>
          </ul>
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/FLBEIA_An_Example_with_multiple_dimensions.html">A simple example with multiple dimensions in FLBEIA</a></li>
          </ul>
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Using_Assessment_models_in_the_MP_FLBEIA.html">Using Stock Assessment models in the Management procedure of FLBEIA</a></li>
          </ul>
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Testing_Management_Strategies_in_FLBEIA.html">Testing different Management Strategies in FLBEIA</a></li>
          </ul>
          <ul class="tutorial">
            <li class="tutorial"><a href="http://www.flr-project.org/doc/Data_Poor_MSE_in_FLBEIA.html">Data Limited MSE in FLBEIA</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
