<!-- Usage Aside -->
  <aside class="usage">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h5 class="section-subheading">
                Research and advice bodies using FLR
              </h5>
            </div>
              <div class="col-md-2 col-sm-4">
                  <a href="http://www.azti.es">
                      <img src="img/logos/azti.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-2 col-sm-4">
                  <a href="http://www.ices.dk">
                      <img src="img/logos/ices.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-2 col-sm-4">
                  <a href="http://www.iccat.int">
                      <img src="img/logos/iccat.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-2 col-sm-4">
                  <a href="http://www.iotc.org">
                      <img src="img/logos/iotc.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-2 col-sm-4">
                  <a href="https://ec.europa.eu/jrc/en">
                      <img src="img/logos/ec.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
              <div class="col-md-2 col-sm-4">
                  <a href="http://www.fao.org">
                      <img src="img/logos/fao.png" class="img-responsive img-centered" alt="">
                  </a>
              </div>
          </div>
      </div>
  </aside>
